html{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    text-align: center;
}

#container{
    margin: 0 auto;
    border: 5px solid black;
    height: 1632px;
    width: 1632px;
    display: flex;
    flex-wrap: wrap;
}

.grid{
    border: 1px solid black;
    height:  100px;
    width: 100px;
}

/* .grid:hover{
    background-color: black;
} */


