html{
    margin: 0;
    padding: 0;;
}

body{
    text-align: center;
}

#container{
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 680px;
}

.grid{
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;

}

.selected{
    background-color: black;
}

button{
    padding: 10px 20px;
    margin-bottom: 20px;
}


